/* ============================================================================================================================= */
/* 간판 */

.contents .playerReg_ganpan{
    width: 100%;
    height: 100vh;
    color: black;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(css_background_img/mainContentImgTest2.jpg); */
    background-image: url(css_background_img/mainContentImgTest3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .contents .playerReg_ganpan img{
   width: 100%;
   height: 100%;
   filter:invert();
  }

  .playerReg_ganpan .shortcut{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }

  .playerReg_ganpan .shortcut1{
    padding-top: 200px;
    width: 1000px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
  }

  .playerReg_ganpan .shortcut_title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-weight: 100;
    letter-spacing: -1px;
  }

  .playerReg_ganpan .shortcut_line{
    display: block;
    height: 1px;
    width: 20px;
    background: white;
    margin: 15px auto 0 auto;
    margin-top: 20px;
  }

  .playerReg_ganpan .shortcut_text{
    font-size: 20px;
    line-height: 30px;
    color: white;
  }


  .playerReg_ganpan .shortcut2_wrap{
    width: 980px;
    margin: 0 auto;
    /* overflow: hidden; */
  }

  .playerReg_ganpan .shortcut2 li{
    top: 70px;
    width: 320px;
    height: 350px;
   border: 1px solid #d9d9d9;
   float: left;
   /* margin: 0 5px; */
   position: relative;
   /* -webkit-transition: all 0.7s, -webkit-transform 0.7s; */
   transition: all 0.7s, transform 0.7s;
   margin-right: 10px;
   box-sizing: border-box;
  }


  .playerReg_ganpan .shortcut li:last-child{
    margin-right: 0px;
  }

  .playerReg_ganpan .shortcut2 li:hover{
  background-color: rgba(0, 92, 255, 30);
  color: white;
  box-shadow: 0 4px 10px -4px black;
  -webkit-transition: all 0.7s, -webkit-transform 0.7s;
  }

  .playerReg_ganpan .shortcut2 li:hover .shortcut2_button{
   transition: all 0.7s, transform 0.7s;
   border: 1px solid white;
   color: white;
   
   }

   .playerReg_ganpan .shortcut2 li:hover img{
     -webkit-transition: all 0.7s, -webkit-transform 0.7s;
   transition: all 0.7s, transform 0.7s;
   /* filter:invert(); */
   }



   .playerReg_ganpan .shortcut2 dl{
    padding-top: 40px;

  } 

  
  .playerReg_ganpan .shortcut2 dl span{
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 50px;
   margin-bottom: 20px;
  }
  
  .playerReg_ganpan .shortcut2 img{
   margin: 0 auto;
   width: 50px !important;
   height: 50px !important;
 }

 .playerReg_ganpan .shortcut2 dt{
   font-size: 16px;
   margin-top: 20px;
   margin-bottom: 35px;
   text-align: center;
   color: white;
 }

 .playerReg_ganpan .shortcut2 dd{
   width: 300px;
   margin: 0 auto;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: white;
 }

 

 .playerReg_ganpan .shortcut2_button_link{
   width: 130px;
   height: 33px;
 }

 .playerReg_ganpan .shortcut2_button{
   position: absolute;
   width: 130px;
   height: 33px;
   line-height: 33px;
   border: 1px solid white;
   border-radius: 3px;
   font-size: 13px;
   text-align: center;
   color: white;
   bottom: 30px;
   left: 50%;
   margin-left: -66px;
   -webkit-transition: all 0.5s, -webkit-transform 0.5s;
   transition: all 0.5s, transform 0.5s;
  } 



/* ============================================================================================================================= */
/* 작업용분리선 */
/* body{
	font-family: 'Noto Sans KR', sans-serif;
} */

.middle1 #playreg1_wrap{
	width: 950px;
	padding: 50px 0px 50px 0px;
	text-align: center;
	background: #f7f7f7;
	border-top: 1px solid rgba(191, 191, 191, 0.4);
	border-bottom: 1px solid rgba(191, 191, 191, 0.4);
	box-sizing: border-box;
	overflow: hidden;
    line-height: 30px;
	/* font-weight: 500; */
  }

  .middle2 #playreg2_wrap{
	width: 950px;
	padding: 50px 0px 50px 0px;
	text-align: center;
	background: #f7f7f7;
	border-top: 1px solid rgba(191, 191, 191, 0.4);
	border-bottom: 1px solid rgba(191, 191, 191, 0.4);
	box-sizing: border-box;
	overflow: hidden;
    line-height: 30px;
	/* font-weight: 300; */
  }

  .middle3 #playreg3_wrap{
	width: 950px;
	padding: 50px 0px 50px 0px;
	text-align: center;
	background: #f7f7f7;
	border-top: 1px solid rgba(191, 191, 191, 0.4);
	border-bottom: 1px solid rgba(191, 191, 191, 0.4);
	box-sizing: border-box;
	overflow: hidden;
    line-height: 30px;
	/* font-weight: 300; */
  }

  .gotoplayreg{
	  display: inline-block;
      margin-top: 30px;
      /* border: 0.1px solid black; */
      padding: 10px;
      box-shadow: 0 0 3px 0 black;
	  background-color: #d3d3d3;
	  /* font-weight: 500; */
  }

  @media screen and (min-width:1920px){

   .middle1 #playreg1_wrap{
		width: 1200px;
   }

   .middle2 #playreg2_wrap{
	width: 1200px;
   }
  
   .middle3 #playreg3_wrap{
	width: 1200px;
   }


}